/*.o_form_view > .o_form_sheet_bg > .o_form_sheet {
    width: 100%;
    max-width: 1395px;
}*/

.text_left{
    text-align: left !important;
}

/* CAMPOS EN ACCIONES */

th[data-name="acciones_id"] {
    min-width: 80px !important;
    max-width: 80px !important;
    width: 80px !important;
    text-align: left !important;
}

th[data-name="egreso"] {
    min-width: 120px !important;
    max-width: 120px !important;
    width: 120px !important;
}

th[data-name="movimiento"] {
    min-width: 150px !important;
    max-width: 150px !important;
    width: 150px !important;
}

th[data-name="acto"] {
    min-width: 150px !important;
    max-width: 150px !important;
    width: 150px !important;
}

th[data-name="documento"] {
    min-width: 150px !important;
    max-width: 150px !important;
    width: 150px !important;
}

th[data-name="fecha_del_documento"] {
    min-width: 100px !important;
    max-width: 100px !important;
    width: 100px !important;
}

th[data-name="documento_legal_firmado"] {
    min-width: 80px !important;
    max-width: 80px !important;
    width: 80px !important;
}

th[data-name="acciones_capital_fijo"] {
    min-width: 150px !important;
    max-width: 150px !important;
    width: 150px !important;
    text-align: left !important;
}

th[data-name="acciones_capital_variable"] {
    min-width: 150px !important;
    max-width: 150px !important;
    width: 150px !important;
    text-align: left !important;
}

th[data-name="acciones_totales"] {
    min-width: 150px !important;
    max-width: 150px !important;
    width: 150px !important;
    text-align: left !important;
    background-color: #f2f2f2 !important;
}

th[data-name="aumento_capital_fijo"] {
    min-width: 150px !important;
    max-width: 150px !important;
    width: 150px !important;
    text-align: left !important;
}

th[data-name="aumento_capital_variable"] {
    min-width: 170px !important;
    max-width: 170px !important;
    width: 170px !important;
    text-align: left !important;
}

th[data-name="acciones_totales_final"] {
    min-width: 150px !important;
    max-width: 150px !important;
    width: 150px !important;
    text-align: left !important;
    background-color: #f2f2f2 !important;
}

th[data-name="acciones_suscritas_psm"] {
    min-width: 170px !important;
    max-width: 170px !important;
    width: 170px !important;
    text-align: left !important;
}

th[data-name="acciones_totales_psm"] {
    min-width: 150px !important;
    max-width: 150px !important;
    width: 150px !important;
    text-align: left !important;
    background-color: #f2f2f2 !important;
}

th[data-name="monto_invertido_psm"] {
    min-width: 180px !important;
    max-width: 180px !important;
    width: 180px !important;
    text-align: left !important;
}

th[data-name="fecha_de_pago"] {
    min-width: 110px !important;
    max-width: 110px !important;
    width: 110px !important;
    text-align: left !important;
}

th[data-name="porcentaje_de_participacion"] {
    min-width: 120px !important;
    max-width: 120px !important;
    width: 100px !important;
    text-align: left !important;
    background-color: #e3ffe0 !important;
}

th[data-name="comentarios"] {
    min-width: 250px !important;
    max-width: 250px !important;
    width: 150px !important;
    text-align: left !important;
}

.color_grey {
    background-color: #f2f2f2 !important;
}

.color_yellow{
    background-color: #fffff3 !important;
}

.color_green{
    background-color: #e3ffe0 !important;
}

.class_custom_acciones .o_list_view .o_list_table {
    cursor: pointer;
    border-collapse: initial !important;
    border-spacing: 0;
}

/* AMORTIZACIONES */

th[data-name="disposicion"] {
    min-width: 180px !important;
    max-width: 180px !important;
    width: 180px !important;
    text-align: left !important;
}
th[data-name="numero"] {
    min-width: 100px !important;
    max-width: 100px !important;
    width: 100px !important;
    text-align: left !important;
}
td[data-name="numero"] {
    text-align: center !important;
}
th[data-name="fecha_de_pago"] {
    min-width: 180px !important;
    max-width: 180px !important;
    width: 180px !important;
}
th[data-name="tasa_interes_anual"] {
    min-width: 180px !important;
    max-width: 180px !important;
    width: 180px !important;
}
th[data-name="ministraciones"] {
    min-width: 180px !important;
    max-width: 180px !important;
    width: 180px !important;
}
th[data-name="saldo_insoluto"] {
    min-width: 180px !important;
    max-width: 180px !important;
    width: 180px !important;
}
th[data-name="factura"] {
    min-width: 180px !important;
    max-width: 180px !important;
    width: 180px !important;
}
th[data-name="amortizacion_de_capital"] {
    min-width: 180px !important;
    max-width: 180px !important;
    width: 180px !important;
}
th[data-name="intereses_devengados"] {
    min-width: 180px !important;
    max-width: 180px !important;
    width: 180px !important;
}
th[data-name="iva"] {
    min-width: 180px !important;
    max-width: 180px !important;
    width: 180px !important;
}
th[data-name="valor_factura"] {
    min-width: 180px !important;
    max-width: 180px !important;
    width: 180px !important;
}
th[data-name="total_a_pagar"] {
    min-width: 180px !important;
    max-width: 180px !important;
    width: 180px !important;
}
th[data-name="adeudo_intereses"] {
    min-width: 180px !important;
    max-width: 180px !important;
    width: 180px !important;
}
th[data-name="adeudo_iva"] {
    min-width: 180px !important;
    max-width: 180px !important;
    width: 180px !important;
}
th[data-name="adeudo_capital"] {
    min-width: 180px !important;
    max-width: 180px !important;
    width: 180px !important;
}
th[data-name="gran_total_a_pagar"] {
    min-width: 180px !important;
    max-width: 180px !important;
    width: 180px !important;
}















